/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333333;
}

/* Hidden heading */
.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #a39a69;
    padding: 1rem;
    position: fixed;
    z-index: 85;
    width: 100%;
    box-shadow: 0 2px 4px #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #333333;
}

.active {
    border-bottom: 1.5px solid #333333;
}

/* Logo */
#logo {
    font-size: 24px;
    line-height: 1;
    margin: 0;
    color: #e9e7f0;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

/* Navbar styles with dropdown toggle. */
nav {
    position: absolute;
    background-color: #a39a69;
    width: 100%;
    left: 0;
    padding: 0 1.5rem;
    box-shadow: 0 2px 2px #333333;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Menu */
#menu {
    display: flex;
    list-style-type: none;
}

#menu li {
    margin-right: 20px;
}

#menu a {
    color: #e9e7f0;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: border-bottom 0.3s ease-in-out;
}

#menu a: hover {
    border-bottom: 2px solid #e9e7f0;
}

/* Beach section */
#beach {
    height: 500px;
    max-width: 100%;
    background: url("../images/beach.jpg") no-repeat center center/cover;
    position: relative;
}

/* Cover text */
#cover-text {
    background-color: #e9e7f0;
    font-size: 110%;
    position: absolute;
    bottom: 20px;
    width: 90%;
    min-height: 150px;
    padding-top: 30px;
    padding-left: 5px;
    }

    #cover-text > h2 {
        color: #333333;
    }
    
/* Main Content */
main {
    padding: 20px;
    margin-top: 70px; /* Push main content down to accomodate larger header */
}

 /* Disclaimer */
 #disclaimer {
    color: #333333;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    font-style: italic;
}

 /* Energy Tools Section */
 #energy-tools {
    border-color: #333333;  
    padding-top: auto;
    text-align: center;
    border: none
  }

  #energy-tools table {
    width: 100%;
  }

  #energy-tools td {
    padding: 1rem;
  }

  #energy-tools tr {
    padding: auto;
  }

  .energy-tools p {
  color: #333333;
  font-size: 110%;
  font-weight: bold;
  }

  /* Benefits html */

  /* Benefits section */
  #benefits {
    padding-left: 2rem;
    background-size: cover;
    height: auto;  
    }

    #benefits h2 {
        font-size: 180%;
    }
     
    #benefits-awareness>div,
        #benefits-choices>div,
        #benefits-empowerement>div {
            width: 100%;
    }
    
   #benefits p  {
        padding: 0 20px;
        }
    
    #benefits hr {
        border-top: 1px solid #333333;
        margin: 5px 0;
        }

        /* Reasons secti0n */

 /* Reasons section */
 #reasons {
    width: 80%;
    margin: 30px 30px;
 }

  /* Signup */
 #signup {
    max-width: auto;
    margin: auto;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    label {
        display: flex;
        margin-bottom: 8px;
    }

select, input.text-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #333333;
    border-radius: 4px;
    box-sizing: border-box;
}

button.signup-button {
    background-color: #a39a69;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.signup-button:hover {
    background-color: #847f54;
}

/* Footer */
footer {
    background-color: #a39a69;
    margin-top: auto;
    }

    #social-networks {
    text-align: center;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

    #social-networks i {
    font-size: 125%;
    padding: 10%;
    color: #333333;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .header {
        padding: 1rem;
    }

    #logo {
        font-size: 150%;
    }

    nav {
        padding: 0.5rem;
    }

    #menu > li {
        margin-bottom: 1.5em;
    }

    main {
        margin-top: 60px;
    }

    .beachkerry {
        width: auto;
    }

    .footer {
        width; fit-content;
    }
}

/* Tablet styles */
@media screen and (width <= 768px) {
    #menu > li {
        margin-bottom: 2em;
    }   
}

/* Desktop styles */
@media screen and (min-width: 992px) {
    #menu a: hover {
        border-bottom: 0.5px solid #333333;
    }
}




