/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser.
This wildcard code is from Love Running Setting up basic CSS Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles. Except the color, body {} code it from Love Running */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

/* Header - except backgroung-color and box-shadow color, the rest of the header styling code exactly like in Love Running (for now) */
header {
    background-color: #a39a69;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #333333;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Header a exactly like in Love Running (for now) */
header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333333;
}

/* #menu like in Love Running (for now) */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

/* #menu > li for now like in Love Running */
#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #333333;
}

/* Navbar styles with dropdown toggle. Typed from Love Running, except back-ground color */
nav {
    position: absolute;
    background-color: #a39a69;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #333333;
    display: none;
    top: 100%;
}

/* Nav toggle - like in Love Running */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* #logo like in Love Running (for now) */
#logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
}

/* Main content - like in Love Running */
main {
    /* Push main content down to accommodate larger header */
    margin-top: 79px;
}

 /* Media query: hover effect on laptops and upwards */
 @media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #333333;
    }
}

/* Main content */
main {
   /* Make main element take up any surplus space to push footer down. Comment and flex
element exactly typed from Love Running */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Beach section */
#beach {
    height: 600px;
    width: 100%;
    background: url("../images/beach.jpg") no-repeat center center/cover;
}
/* Footer */
footer {
    background-color: #e9e7f0;
}

/* both #social-networks like in Love Running (for now) except color */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #333333;
}
/* Media query: tablets and larger (768px and up) exactly like in Love Running (for now) */
@media screen and (min-width: 768px) {
/* Header */
nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    }    

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
 } 
